NET"clk"LOC = AC18 	| IOSTANDARD = LVCMOS18;

NET"sclk" LOC = M24 | IOSTANDARD = LVCMOS33;
NET"sclrn" LOC = M20 | IOSTANDARD = LVCMOS33;
NET"sout" LOC = L24 | IOSTANDARD = LVCMOS33;
NET"SEG_PEN" LOC = R18 | IOSTANDARD = LVCMOS33;